@use '@/styles/breakpoints';

.header {
  position: fixed;
  z-index: 999 !important;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;

  width: 100%;

  visibility: visible;

  @media (width <= breakpoints.$mobile) {
    visibility: hidden;
  }
}

.container {
  position: relative;

  display: flex;

  width: 100%;
  max-width: breakpoints.$max-content-width;
  margin: 0 auto;
  padding: breakpoints.$header-padding-desktop;

  visibility: inherit;
}
