@use '@/styles/breakpoints';

.section {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;

  @media (width <= breakpoints.$mobile) {
    gap: 16px;
  }
}

.columnsContainer {
  display: flex;
  gap: 32px;

  width: 100%;
  min-height: 70%;

  color: inherit;

  @media (width <= breakpoints.$mobile) {
    flex-flow: column-reverse wrap;
    gap: 16px;
  }
}

.columnLeft,
.columnRight {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-start;

  width: 50%;

  background: var(--header-gradient);
  background-clip: text;

  @media (width <= breakpoints.$mobile) {
    gap: 16px;
    width: 100%;
  }
}

.columnLeft {
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.iconLink {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: fit-content;
}
