@use '@/styles/breakpoints' as *;

.header {
  text-align: center;

  @media (width <= $mobile) {
    text-align: left;
  }
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;

  width: 100%;
  height: fit-content;

  @media (width <= $mobile) {
    gap: 16px;
    align-items: flex-start;
  }
}

.projectContainer {
  display: flex;
  flex-flow: row wrap-reverse;
  align-items: center;
  justify-content: center;

  width: 100%;

  @media (width <= $mobile) {
    flex-direction: column-reverse;
  }
}
