@use '@/styles/breakpoints' as *;

.section {
  flex-direction: column;
  align-items: center;

  @media (width <= $mobile) {
    align-items: flex-start;
  }
}

.projectContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  width: 100%;

  @media (width <= $mobile) {
    flex-direction: column;
  }
}
