@use '@/styles/breakpoints';

.error {
  margin: 4px;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xl);
  color: var(--color-danger);

  @media (width <= breakpoints.$mobile) {
    font-size: var(--font-size-xxs);
  }
}
