@use '@/styles/breakpoints' as *;

.canvas {
  cursor: pointer;
  inset: 0;
  width: 100%;
  height: 100%;

  @media (width <= $mobile) {
    height: fit-content;
  }
}

.modelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  aspect-ratio: 4 / 3;
  width: 624px;
  height: auto;

  border-radius: 5px;

  @media (width <= $mobile) {
    width: 100%;
    min-width: 290px;
  }
}

.projectImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  aspect-ratio: 16 / 9;
  width: 624px;
  height: auto;
  padding: 16px;

  background: var(--backgroud-gradient);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-placeholder);
  border-radius: 5px;

  @media (width <= $mobile) {
    width: 100%;
    min-width: 290px;
  }
}
