@use '@/styles/breakpoints' as *;

.canvas {
  inset: $header-height-desktop 0 0 0 !important;
  height: calc(100vh - $header-height-desktop) !important;

  @media (width <= $mobile) {
    inset: 0 !important;
    height: 100vh !important;
  }
}
