@use '@/styles/breakpoints' as *;

.canvas {
  inset: 0;
  height: calc(100vh - $header-height-desktop - $footer-height-desktop) !important;

  @media (width <= $mobile) {
    height: calc(100vh - $header-height-mobile - $footer-height-mobile) !important;
  }
}
