@use '@/styles/breakpoints' as *;

.canvas {
  top: $header-height-desktop;
  height: calc(100vh - $header-height-desktop) !important;

  @media (width <= $mobile) {
    top: $header-height-mobile;
    height: calc(100vh - $header-height-mobile) !important;
  }
}
