// Mobile
$mobile: 576px;

// Container
$max-content-width: 1312px;
$content-padding-desktop: 32px;
$content-padding-mobile: 16px;

// Header
$header-height-desktop: 48px;
$header-height-mobile: 32px;
$header-padding-desktop: 0 32px;
$header-padding-mobile: 0 16px;

// Footer
$footer-height-desktop: 32px;
$footer-height-mobile: 24px;
