:root {
  // light
  --color-light: #fff;

  // dark
  --color-dark: #000;

  // placeholder
  --color-placeholder: #959596;

  // info
  --color-info: #397df6;

  // success
  --color-success: #14cc70;

  // danger
  --color-danger: #cc1439;

  // warning
  --color-warning: #d99000;
}
