:root {
  // light
  --color-light: #fff;

  // dark
  --color-dark: #000;

  // placeholder
  --color-placeholder: #959596;

  // info
  --color-info: #376cc7;

  // success
  --color-success: #14cc70;

  // danger
  --color-danger: #cc1439;

  // warning
  --color-warning: #d99000;

  // gradients:
  --header-gradient: linear-gradient(to right, #fff, #000);
  --backgroud-gradient: linear-gradient(
    147deg,
    rgb(57 57 57 / 50%) -6.76%,
    rgb(0 66 255 / 5%) 102.96%
  );
  --hover-gradient: linear-gradient(
    147deg,
    rgb(255 255 255 / 50%) -6.76%,
    rgb(0 71 255 / 5%) 102.96%
  );
}
