// SCROLLBAR

/* size */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: grab;
  background-color: var(--color-info);
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}
