// SCROLLBAR

/* size */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: grab;
  background-color: #000;

  &:hover {
    background-color: var(--color-placeholder);
  }
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0.1;
  background-color: var(--color-placeholder);
}
