@use '@/styles/breakpoints';

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;

  color: inherit;
}

.container {
  width: 100%;
  max-width: breakpoints.$max-content-width;
  height: 100%;
  padding: breakpoints.$content-padding-desktop;

  @media (width <= breakpoints.$mobile) {
    padding: breakpoints.$content-padding-mobile;
  }
}
