@use '@/styles/breakpoints';

$header-height-desktop: breakpoints.$header-height-desktop;
$header-height-mobile: breakpoints.$header-height-mobile;
$footer-height-desktop: breakpoints.$footer-height-desktop;
$footer-height-mobile: breakpoints.$footer-height-mobile;
$content-padding-desktop: breakpoints.$content-padding-desktop;
$content-padding-mobile: breakpoints.$content-padding-mobile;

.section {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: calc(100vh - $header-height-desktop - $footer-height-desktop);

  color: inherit;

  @media (width <= breakpoints.$mobile) {
    min-height: calc(100vh - $header-height-mobile - $footer-height-mobile);
  }
}
