@use '@/styles/breakpoints' as *;

.section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: calc(100vh - $header-height-desktop - $footer-height-desktop);

  color: inherit;

  @media (width <= $mobile) {
    gap: 16px;
    min-height: calc(100vh - $header-height-mobile - $footer-height-mobile);
  }
}
