@use '@/styles/breakpoints' as *;

.canvas {
position: relative;
  inset: 0 !important;
  height: 100vh !important;

  @media (width <= $mobile) {
    inset: 0;
  }
}

.backButton {
  svg {
    transform: rotate(180deg);
  }

  @media (width <= $mobile) {
    align-self: center;
  }
}

.backgroundImage {
  position: absolute;
  z-index: -1;
  top: 90%;
  left: 70%;
  transform: translate(-50%, -50%);
}