@use '@/styles/breakpoints' as *;

.canvas {
  inset: 0 !important;
  height: 100vh !important;

  @media (width <= $mobile) {
    inset: 0;
  }
}

.backButton {
  svg {
    transform: rotate(180deg);
  }

  @media (width <= $mobile) {
    align-self: center;
  }
}
