@use '@/styles/breakpoints' as *;

.sectionContainer {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;

  width: 100%;

  @media (width <= $mobile) {
    flex-direction: column;
    gap: 16px;
  }
}

.imageContainer,
.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;

  height: fit-content;


}

.arrowsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.backArrow {
  transform: rotate(180deg);
}

.technologiesContainer {
  display: flex;
  gap: 16px;

  @media (width <= $mobile) {
    gap: 8px;
  }
}

.imageContainer {
  align-items: center;
  width: 40%;
  min-width: 290px;
  max-width: 400px;

  @media (width <= $mobile) {
    width: 100%;
    max-width: 640px;
  }
}

.descriptionContainer {
  pointer-events: none;
  gap: 32px;
  width: 50%;

  & > * {
    pointer-events: auto;
  }

  & ul {
    pointer-events: none; // Prevent list from capturing events
    margin-left: 24px;
  }

  & li {
    pointer-events: none; // Prevent list items from capturing events
  }

  @media (width <= $mobile) {
    gap: 16px;
    width: 100%;
  }
}

.buttonContainer {
  align-self: center;
}

.avatar {
  display: flex;

  width: 100%;
  max-width: 400px;
  height: auto;

  background: var(--backgroud-gradient);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-placeholder);
  border-radius: 5px;

  @media (width <= $mobile) {
    max-width: 640px;
  }
}

.backgroundImage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  aspect-ratio: 1 / 1;
  width: auto;
  height: 100vh;
}