@use '@/styles/breakpoints' as *;

.link {
  display: flex;
  align-items: center;

  width: fit-content;
  height: fit-content;
  padding: 8px;

  font-size: var(--font-size-xs);
  line-height: var(--line-height-xl);
  white-space: nowrap;

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-info);
  }

  @media (width <= $mobile) {
    width: $header-height-mobile;
    height: $header-height-mobile;

    background: var(--backgroud-gradient);
    backdrop-filter: blur(10px);
    border: 1px solid var(--color-placeholder);
    border-radius: 5px;
  }
}

.activeLink {
  position: relative;
  width: fit-content;
  color: var(--color-info) !important;

  @media (width <= $mobile) {
    background: var(--hover-gradient);
  }
}
