@use '@/styles/breakpoints' as *;

.soundButton {
  & svg {
    width: 22px!important;
    height: 22px!important;
  }

  @media (width > $mobile) {
    all: unset!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;

    &:disabled {
      opacity: 0.5!important;
    }
  }

  @media (width <= $mobile) {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  }
}