@use '@/styles/breakpoints';

.section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;

  width: 75%;

  color: transparent;
  white-space: collapse;

  background: var(--header-gradient);
  background-clip: text;

  @media (width <= breakpoints.$mobile) {
    width: 100%;
  }
}
